<header>
    <div class='holder header'>
        <img src='/images/printered-transparent.png' width={300} alt='h1 printered' />
    </div>
</header>
<h1>Login</h1>
<footer>
    <p>Todos los derechos Reservados. Printered año: {{ anio }}</p>
</footer>