header {
    background: black;
background: linear-gradient(120deg,  black 50%, #0c4c94 90%, #2e64a1 100%);
}



header h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}